button > a {
    color: white;
}

.App {
    text-align: center;
    background-color: black;
}

.App-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
}

div.container {
    display: flex;
    align-items: center;
}

.login-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

header.ant-layout-header {
    display: flex;
    justify-content: space-between;
    /* padding: 0 25px; */
}

p.avatar-component-username {
    margin: 0;
    padding: 0;
    line-height: 64px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.85em;
}

p.avatar-component-username > span {
    padding: 0 7px;
}

p.avatar-component-username > span > strong {
    color: #fff;
}

div.btn-wrap {
    display: flex;
    justify-content: center;
}

.logo img {
    margin-bottom: 16px;
    transition: all 0.2s linear;
}

.logo img:hover {
    filter: brightness(80%);
}

.login-button {
    margin-top: 16px;
}
